## sw1-startup.cfg — vJunos-switch 25.4R1.12
## ICL LACP + ICCP keepalive
## Note: MC-LAG complet (mc-ae) documenté dans le lab EVE-NG

system {
    host-name sw1;
    root-authentication {
        plain-text-password-value "Lab12345!";
    }
    login {
        user admin {
            class super-user;
            authentication {
                plain-text-password-value "Lab12345!";
            }
        }
    }
    services {
        ssh {
            root-login allow;
        }
    }
    arp {
        aging-timer 5;
    }
    syslog {
        file interactive-commands {
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
        }
    }
}
chassis {
    aggregated-devices {
        ethernet {
            device-count 2;
        }
    }
}
interfaces {
    ge-0/0/0 {
        ether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/1 {
        ether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/2 {
        unit 0 {
            family inet {
                address 192.168.255.0/31;
            }
        }
    }
    ae0 {
        aggregated-ether-options {
            lacp {
                active;
                system-id 00:01:00:00:00:01;
                admin-key 1;
            }
        }
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members all;
                }
            }
        }
    }
}
multi-chassis {
    mc-lag {
        consistency-check;
    }
}
protocols {
    iccp {
        local-ip-addr 192.168.255.0;
        peer 192.168.255.1 {
            redundancy-group-id-list 1;
            liveness-detection {
                minimum-interval 1000;
                multiplier 3;
            }
        }
    }
    lldp {
        interface all;
    }
    lldp-med {
        interface all;
    }
}
